GOOGLE_APPLICATION_CREDENTIALS=PathToYourGCPCredentials
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=dgen-chatbot
GOOGLE_CLOUD_LOCATION=us-central1

SMTP_HOST=YourSMTPHost
SMTP_PORT=YourSMTPPort
SMTP_USER=YourSMTPUser
SMTP_PASSWORD=YourSMTPPassword
